<h1>Informacion del usuario</h1>
<hr />
<div class="row">
  <div class="col-4">
    <h3>Usuario actual: {{ userId() }}</h3>
    <div class="btn-group">
      <button (click)="loadUser(userId() - 1)" class="btn btn-outline-primary">
        Anterior
      </button>
      <button (click)="loadUser(userId() + 1)" class="btn btn-outline-primary">
        Siguiente
      </button>
    </div>
  </div>

  <div class="col-8" *ngIf="currentUser()">
    <h3>Usuario</h3>
    <p>Correo: {{ currentUser()!.email }}</p>
    <p>Nombre: {{ fullName() }}</p>
    <img [src]="currentUser()?.avatar" alt="Avatar" srcset="" class="rounded" />
  </div>
  <div class="col-8 text-danger" *ngIf="!userWasFound()">
    <h3>Usuario no encotrado</h3>
  </div>
</div>
