<p-panel styleClass="mt-4">
  <ng-template pTemplate="header">
    <h1>Pipes Personalizados</h1>
  </ng-template>
  <p>
    Pipes Personalizados | creados por
    {{ "nosotros" | toggleCase : isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      styleClass="p-button-primary"
      label="ToggleCase"
      icon="pi pi-sort"
      class="mr-2"
      (onClick)="toggleUpperCase()"
    />
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      styleClass="p-button-warning"
      label="Por Nombre"
      icon="pi pi-sort"
      class="mr-2"
    />
    <p-button
      styleClass="p-button-success"
      label="Por Volar"
      icon="pi pi-sort"
      class="mr-2"
    />
    <p-button
      styleClass="p-button-danger"
      label="Por Color"
      icon="pi pi-sort"
      class="mr-2"
    />
  </div>
</p-toolbar>
