<h1>Mutaciones</h1>
<hr />
<div class="row">
  <div class="col-6">
    <input
      #txtEmail
      class="form-control mb-2"
      type="text"
      name="email"
      id="email"
      (input)="onFieldUpdated('email', txtEmail.value)"
      [value]="user().email"
    />
    <input
      #txtFirstName
      class="form-control mb-2"
      type="text"
      name="first_name"
      id="first_name"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
    />
    <input
      #txtLastName
      class="form-control mb-2"
      type="text"
      name="last_name"
      id="last_name"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
    />
  </div>
  <div class="col-6">
    <pre>{{ user() | json }}</pre>
  </div>
</div>
