<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd
    "
    [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isEven
    }"
  >
    <span class="text-primary"> {{ i + 1 }}. </span>
    <span>
      {{ character.name }}
    </span>

    - <strong> Power :</strong>
    <span>
      {{ character.power }}
    </span>
  </li>
</ul>
