<div #map style="width: 100vw; height: 100vh"></div>

<ul class="list-group position-fixed" style="top: 20px; right: 20px">
  <li
    class="list-group-item"
    *ngFor="let marker of markers; let i = index"
    role="button"
    style="max-width: 500px"
  >
    <div class="d-flex gap-3 align-items-center">
      <i class="bi bi-circle-fill" [ngStyle]="{ color: marker.color }"> </i>
      Marker {{ i + 1 }}
      <div class="d-flex gap-1">
        <button class="btn btn-primary btn-sm" (click)="flyTo(marker.marker)">
          <i class="bi bi-eye"></i>
        </button>

        <button class="btn btn-danger btn-sm" (click)="deleteMarker(i)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </li>
</ul>

<button
  class="btn btn-primary position-fixed"
  style="bottom: 30px; right: 20px"
  (click)="createMarker()"
>
  + Agregar Marcador
</button>
