<p-panel styleClass="mt-4">
  <ng-template pTemplate="header">
    <h1>Pipes Basicos</h1>
  </ng-template>
  <p>Pipes incluidos de Angular - Usualmente en el Common Module</p>
</p-panel>
<div class="grid mt-4">
  <div class="col-12 md:col-4">
    <p-card>
      <ng-template pTemplate="title">
        <h3>uppercase</h3>
      </ng-template>
      <p><b>Original:</b> {{ nameLower }}</p>
      <p><b>Pipe | uppercase:</b> {{ nameLower | uppercase }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="">
      <ng-template pTemplate="title">
        <h3>lowercase</h3>
      </ng-template>
      <p><b>Original:</b> {{ nameUpper }}</p>
      <p><b>Pipe | lowercase:</b> {{ nameUpper | lowercase }}</p>
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="">
      <ng-template pTemplate="title">
        <h3>titlecase</h3>
      </ng-template>
      <p><b>Original:</b> {{ fullName }}</p>
      <p><b>Pipe | titlecase:</b> {{ fullName | titlecase }}</p>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card>
      <ng-template pTemplate="title">
        <h3>fechas original | pipes</h3>
      </ng-template>
      <ol>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMMM'</li>
        <li>fecha | date:'MMMM dd, yyyy'</li>
        <li>fecha | date:'MMMM dd, yyyy'</li>
      </ol>
      <hr />
      <ol>
        <li>fecha | date:'long' : 'GMT-3'</li>
        <li>fecha | date:'long' : 'GMT-2'</li>
        <li>fecha | date:'long' : '' : 'en-US'</li>
        <li>fecha | date:'long' : '' : 'fr-CA'</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card>
      <ng-template pTemplate="title">
        <h3>fechas con pipes</h3>
      </ng-template>
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date : "short" }}</li>
        <li>{{ customDate | date : "long" }}</li>
        <li>{{ customDate | date : "MMMM" }}</li>
        <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
        <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
      </ol>
      <hr />
      <ol>
        <li>{{ customDate | date : "long" : "GMT-3" }}</li>
        <li>{{ customDate | date : "long" : "GMT-2" }}</li>
        <li>{{ customDate | date : "long" : "" : "en-US" }}</li>
        <li>{{ customDate | date : "long" : "" : "fr-CA" }}</li>
      </ol>
    </p-card>
  </div>
</div>
